@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', cursive;
    background-color: #252525;
    color: #EDEDED;
}

h1 {
    color: #EDEDED;
    font-size: 56px;
    font-weight: bold;
    font-family: "Nerko One", cursive;
    text-align: center;
    margin-top: 50px;
}

.tambah_data {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;

}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #EDEDED#fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: center;
}

/* 5 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: goldenrod;
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

a:link {
    color: #EDEDED;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #EDEDED;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}

table tr {
    background-color: #252525;
    color: #EDEDED;
    text-align: center;
}

table tr th {
    color: #EDEDED;
    font-size: larger;
    text-align: center;
}

table tr:hover {
    background-color:goldenrod;
    color: #252525;
}

table tr a:hover {
    color: darkmagenta;
}